.hh-container{
    background: linear-gradient(180deg, #1373FB 0%, #388BFF 100%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: center;
    grid-gap: 50px;
    padding: 80px 100px;
    height: 500px;
}
.hh-container-text{

color: #fff;
    
}
.hh-container-text h2{
margin: 0;
padding: 0;
font-size: 40px;
margin-bottom: 20px;
color: #fff;
font-weight: 700;
    
}
.hh-container-text p{
    margin-bottom: 20px;
    font-size: 18px;

    
}
.hh-img-container{
 display: flex;
 align-items: center;
 justify-content: center;
}